In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('motorcycle_sales.csv')

In [3]:
df.head()

,order_number,date,warehouse,client_type,product_line,quantity,unit_price,total,payment,payment_fee
0,N1,2021-06-01T00:00:00.000Z,North,Retail,Breaking system,9,19.29,173.61,Cash,0.00
1,N2,2021-06-01T00:00:00.000Z,North,Retail,Suspension & traction,8,32.93,263.45,Credit card,0.03
2,N3,2021-06-01T00:00:00.000Z,North,Wholesale,Frame & body,16,37.84,605.44,Transfer,0.01
3,N4,2021-06-01T00:00:00.000Z,North,Wholesale,Suspension & traction,40,37.37,1494.80,Transfer,0.01
4,N5,2021-06-01T00:00:00.000Z,North,Retail,Frame & body,6,45.44,272.61,Credit card,0.03

In [4]:
from sqlalchemy import create_engine, text


user = 'postgres'
password = 'admin'
host = 'localhost'
port = '5432'

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/postgres')
conn = engine.connect()

conn.execution_options(isolation_level="AUTOCOMMIT").execute(text("CREATE DATABASE motorcycle_sales;"))

conn.close()

In [5]:
db_engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/motorcycle_sales')
df.to_sql('sales',db_engine, if_exists='replace',index=False)

1000

In [ ]:
query = """
SELECT COUNT(*)
FROM sales
"""

with db_engine.connect() as conn:
    run = conn.execute(text(query))
    result = pd.DataFrame(run.fetchall(), columns=run.keys())

result

   count
0   1000

In [10]:
query = """ 
SELECT 
    product_line, 
    TO_CHAR(date::timestamp,'Month'), 
    warehouse,
    SUM(total) - SUM(payment_fee) AS net_revenue
FROM sales
WHERE client_type = 'Wholesale'
GROUP BY product_line, TO_CHAR(date::timestamp,'Month'), warehouse
ORDER BY product_line
"""

with db_engine.connect() as conn:
    run = conn.execute(text(query))
    result = pd.DataFrame(run.fetchall(), columns=run.keys())

result

             product_line    to_char warehouse  net_revenue
0         Breaking system  July          North      2594.44
1         Breaking system  August         West      2500.67
2         Breaking system  July           West      3060.93
3         Breaking system  July        Central      3778.65
4         Breaking system  August        North      1770.84
5         Breaking system  June           West      1212.75
6         Breaking system  June          North      1487.77
7         Breaking system  June        Central      3684.89
8         Breaking system  August      Central      3039.41
9       Electrical system  July           West       449.46
10      Electrical system  August         West      1241.84
11      Electrical system  August      Central      3126.43
12      Electrical system  July        Central      5577.62
13      Electrical system  July          North      1710.13
14      Electrical system  June        Central      2904.93
15      Electrical system  August        North      4721.12
16      Electrical system  June          North      2022.50
17                 Engine  July        Central      1827.03
18                 Engine  August      Central      9528.71
19                 Engine  July          North      1007.14
20                 Engine  August        North      2324.19
21                 Engine  June        Central      6548.85
22           Frame & body  June           West      2779.74
23           Frame & body  July        Central      3135.13
24           Frame & body  July          North      6154.61
25           Frame & body  August      Central      8657.99
26           Frame & body  June          North      4910.12
27           Frame & body  June        Central      5111.34
28           Frame & body  August         West       829.69
29           Frame & body  August        North      7898.89
30          Miscellaneous  July        Central      3118.44
31          Miscellaneous  August      Central      1739.76
32          Miscellaneous  August         West       813.43
33          Miscellaneous  July           West      1156.80
34          Miscellaneous  July          North      2404.65
35          Miscellaneous  June          North       513.99
36          Miscellaneous  June           West      2280.97
37          Miscellaneous  August        North      1841.40
38          Miscellaneous  June        Central      1878.07
39  Suspension & traction  June          North      8065.74
40  Suspension & traction  July           West      2939.32
41  Suspension & traction  June        Central      3325.00
42  Suspension & traction  July          North      3714.28
43  Suspension & traction  August         West      1080.79
44  Suspension & traction  August        North      4923.69
45  Suspension & traction  July        Central      6456.72
46  Suspension & traction  August      Central      5416.70
47  Suspension & traction  June           West      2372.52